<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="tools"></clr-icon>
        <span class="title">Alerts Test</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="/inventory" routerLinkActive="active" class="nav-link"><span class="nav-text">Inventory</span></a>
        <a routerLink="/alerts" routerLinkActive="active" class="nav-link"><span class="nav-text">Alerts!</span></a>
    </div>
  </clr-header>
  <router-outlet></router-outlet>
</clr-main-container>